@model MVCTemplate.Models.Cafés

@{
    ViewBag.Title = "Detalles Café";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class=" text-center" style="font-weight:500">Detalles</h1>

<div>
    <h4 class="text-center">Cafés</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamaños.Tamaño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamaños.Tamaño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipos.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipos.Tipo)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDcafé }) |
    @Html.ActionLink("Back to List", "Index")
</p>
