@model MVCTemplate.Models.Usuarios

@{
    ViewBag.Title = "Detalles Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class=" text-center" style="font-weight:500">Detalles</h1>

<div>
    <h4 class="text-center">Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>

        <dd>
            ****
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDusuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
