@model IEnumerable<MVCTemplate.Models.Usuarios>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class=" text-center" style="font-weight:500; font-family: 'Pattaya', sans-serif;">Usuarios</h1>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table id="DT_Users" class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Contraseña)*@
                    ***
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDusuario }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IDusuario }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDusuario })
                </td>
            </tr>
        }
    </tbody>


</table>
<div class="col-3 m-t-15">
    <a href="@Url.Action("Index","Permisos") " class="btn btn-primary">Ir a Tamaños</a>
</div>
<script>
    $(document).ready(function () {
        $('#DT_Users').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        });
    });
</script>
