@model MVCTemplate.Models.Postres

@{
    ViewBag.Title = "Eliminar Postres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class=" text-center" style="font-weight:500">Eliminar</h1>

<h3 class="text-center">¿Estás seguro?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.HiddenFor(model => model.IDpostre)
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>
        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
}
