@using MVCTemplate.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/favicon.ico" rel="apple-touch-icon" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>
<body class="">
    @*@{
            TemplateDbContext db = new TemplateDbContext();

            var user = db.T_TEMPLATE_USERS.Where(u => u.WIN_USER == User.Identity.Name).FirstOrDefault();
        }*@
    <div id="page" style="display:none">

        <!-- RETURN TO TOP SCROLL ARROW -->
        <a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>
        <!-- BEGIN SIDEBAR -->
        <!-- BEGIN SIDEBPANEL-->

        <nav class="page-sidebar" data-pages="sidebar">
            <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
            <div class="sidebar-overlay-slide from-top" id="appMenu">

            </div>
            <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
            <!-- BEGIN SIDEBAR MENU HEADER-->
            <div class="sidebar-header">
                <img src="@Url.Content("~/Content/img/logo.png")" alt="logo" class="brand" data-src="@Url.Content(" ~/Content/img/logo.png")" data-src-retina="@Url.Content("~/Content/img/logo.png")" width="130" height="42">
                <div class="sidebar-header-controls">

                    <button type="button" class="btn btn-link hidden-sm-down" data-toggle-pin="sidebar">
                        <i class="far fs-12"></i>
                    </button>
                </div>
            </div>
            <!-- END SIDEBAR MENU HEADER-->
            <!-- START SIDEBAR MENU -->
            <div class="sidebar-menu">
                <!-- BEGIN SIDEBAR MENU ITEMS-->
                <ul class="menu-items">
                    <li class="m-t-30 ">
                        <a href="@Url.Action("NuevaOrden", "Orden")" class="detailed">
                            <span class="title">Inicio</span>
                            <span class="details">@*comentarios*@</span>
                        </a>
                        <span id="spanHome" class="icon-thumbnail"><i class="pg-home"></i></span>
                    </li>
                    <li class="">
                        <a href="javascrit:;" class="detailed">
                            <span class="title">Cafés y Postres</span>
                            <span class="details">Registros</span>
                        </a>
                        <span id="spanHome" class="icon-thumbnail"><i class="fa fa-hand-peace"></i></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="@Url.Action("Index","Cafés")">
                                    <span class="title">Cafés</span>
                                </a>
                                <span class="icon-thumbnail"><i class="fa fa-coffee"></i></span>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Postres")">
                                    <span class="title">Postres</span>
                                </a>
                                <span class="icon-thumbnail"><i class="fa fa-birthday-cake"></i></span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Orden")" class="detailed">
                            <span class="title">Ordenes</span>
                            <span class="details">@*comentarios*@</span>
                        </a>
                        <span id="spanProductos" class="icon-thumbnail"><i class="fa fa-clipboard-list"></i></span>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Users")" class="detailed">
                            <span class="title">Estadisticos</span>
                            <span class="details">@*comentarios*@</span>
                        </a>
                        <span id="spanEstadisticos" class="icon-thumbnail"><i class="pg-charts"></i></span>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Users")" class="detailed">
                            <span class="title">Usuarios</span>
                            <span class="details">@*comentarios*@</span>
                        </a>
                        <span id="spanUsers" class="icon-thumbnail"><i class="fa fa-users"></i></span>
                    </li>


                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- END SIDEBAR MENU -->
        </nav>
        <!-- END SIDEBAR -->
        <!-- END SIDEBAR -->
        <!-- START PAGE-CONTAINER -->
        <div class="page-container">
            <!-- START PAGE HEADER WRAPPER -->
            <!-- START HEADER -->
            <div class="header " style="height:140px;">
                <!-- START MOBILE SIDEBAR TOGGLE -->
                <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="sidebar">
                </a>
                <!-- END MOBILE SIDEBAR TOGGLE -->
                <div class="full-width  center ">
                    @*<div class="brand inline>*@
                    <a href="@Url.Action("Index", "Home")">
                        <img class="" style="display:block; margin-left: auto; margin-right: auto;" src="@Url.Content("~/Content/img/logo.png")" alt="logo" data-src="@Url.Content("~/Content/img/logo.png")" data-src-retina="@Url.Content("~/Content/img/logo.png")" width="400" height="120">
                    </a>
                    @*</div>*@

                </div>

                <div class="d-flex align-items-center">
                    <!-- START User Info-->
                    <div class="dropdown pull-right ">
                        <div class="pull-left p-r-10 fs-14 font-heading d-lg-block d-none">

                            <span class="semi-bold">
                                @*@user.NAME*@
                            </span>
                        </div>
                        <div class="dropdown pull-right d-lg-block d-none">
                            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="thumbnail-wrapper d32 circular inline">
                                    <img src="@Url.Content("~/Content/img/user.png")" alt="" data-src="@Url.Content("~/Content/img/user.png")" data-src-retina="@Url.Content("~/Content/img/user.png")" width="32" height="32">
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                                <a href="@Url.Action("Index","Configuracion")" class="dropdown-item"><i class="pg-settings_small"></i> Configuraciones</a>
                                <a href="" class="dropdown-item"><i class="pg-signals"></i> Ayuda</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="@Url.Action("Logout","Login")" class="clearfix bg-master-lighter dropdown-item">
                                        <span class="pull-left">Logout</span>
                                        <span class="pull-right"><i class="pg-power"></i></span>
                                    </a>}

                            </div>
                        </div>

                    </div>

                    <!-- END User Info-->
                </div>
            </div>
            <!-- END HEADER -->
            <!-- END PAGE HEADER WRAPPER -->
            <!-- START PAGE CONTENT WRAPPER -->
            <div class="page-content-wrapper full-height">
                <!-- START PAGE CONTENT -->
                <div class="content full-height">
                    <!-- START CONTAINER FLUID -->
                    <div class="container-fluid container-fixed-lg p-t-25">
                        <!-- BEGIN PlACE PAGE CONTENT HERE -->
                        @Scripts.Render("~/Scripts/jquery")
                        <!-- END PLACE PAGE CONTENT HERE -->
                        @RenderBody()
                    </div>
                    <!-- END CONTAINER FLUID -->
                </div>
                <!-- END PAGE CONTENT -->
                <!-- MODAL STICK UP  -->
                <div class="modal stick-up" id="ModalStickUp" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content small-text">
                            <div id="ModalStickUpContent">
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- END MODAL STICK UP  -->
                <!-- MODAL -->
                <div class="modal fade slide-up" id="ModalSlide" role="dialog" aria-hidden="true">
                    <div id="ModalSlideContent">
                    </div>
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END MODAL -->
            <!-- START FOOTER -->
            <div class="container-fluid container-fixed-lg footer">
                <div class="copyright sm-text-center">
                    <p class="small no-margin pull-left sm-pull-reset">
                        <span class="hint-text">@DateTime.Now.Date.ToString("dd/MM/yyyy") </span>
                        <span class="font-montserrat"></span>
                        <span class="hint-text"></span>

                    </p>
                    <p class="small no-margin pull-right sm-pull-reset">
                        <a href="#">Equipo #4</a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>

    <div id="loading" class="loading-page">
        <div class="counter">
        </div>
    </div>

    <!-- END PAGE CONTENT WRAPPER -->
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN VENDOR JS -->
    <!-- BEGIN VENDOR JS -->
    <script>
        mainUrl = '@Url.Content("~/")';

        ////Pagina de pruebas
        //window.location = mainUrl + 'Home/PaginaPruebas'

        function onReady(callback) {
            var intervalID = window.setInterval(checkReady, 1000);

            function checkReady() {
                if (document.getElementsByTagName('body')[0] !== undefined) {
                    window.clearInterval(intervalID);
                    callback.call(this);
                }
            }
        }

        function show(id, value) {
            document.getElementById(id).style.display = value ? 'block' : 'none';
        }

        onReady(function () {
            show('page', true);
            show('loading', false);
        });
    </script>

    @Scripts.Render("~/Scripts/plugins")
    @RenderSection("plugins", required: false)
    @Scripts.Render("~/Scripts/pages")
    @RenderSection("pages", required: false)
    <script src="~/Scripts/app/global.js"></script>
    

    @Scripts.Render("~/Scripts/modalform")
    @RenderSection("scripts", required: false)
</body>
</html>
